{% load static %}

<section class="product_section ">
    <div class="container">
        <div class="product_container">
            <div class="box">
                <div style="
                max-width: 250px;
                margin: 50px auto -10px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
                overflow: hidden;
                display: grid;
                grid-template-columns: repeat (2, 1fr);
                gap: 10px;">
      
                    <div style="
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        overflow: hidden;"> 
                        <img style="max-width: 100%;
                            height: auto; display: block;" src="{% static 'images/banan.jpg' %}" alt="Product 1">
                        <div style="padding: 10px;">
                            <p>Description of Product 1.</p>
                        </div>
                    </div>
                    <div style="
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        overflow: hidden;">
                        <img style="max-width: 100%;
                            height: auto; display: block;" src="{% static 'images/banan.jpg' %}" alt="Product 2">
                        <div style="padding: 10px;">
                            <p>Description of Product 2.</p>
                        </div>
                    </div>
                    <div style="
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        overflow: hidden;">
                        <img style="max-width: 100%;
                            height: auto; display: block;" src="{% static 'images/banan.jpg' %}" alt="Product 3">
                        <div style="padding: 10px;">
                            <p>Description of Product 3.</p>
                        </div>
                    </div>
                    <div style="
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        overflow: hidden;">
                        <img style="max-width: 100%;
                            height: auto; display: block;" src="{% static 'images/banan.jpg' %}" alt="Product 4">
                        <div style="padding: 10px;">
                            <p>Description of Product 4.</p>
                        </div>
                    </div>

                </div>
                <div class="btn-box">
                    <a href="">
                        Add To Cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

